.footer{
   height:400px;
   display: flex;
}

.left,.midleft, .midright, .right{
   position: relative;
   top:5%;
   padding-left:100px;
   max-width:250px;
}
.sectionleft p{
   font-size:25px;
   font-weight: bold;
   color:white;
   text-align: center; 
}

.footer h2{
   color:black;
}
a{
   text-decoration: none;
   font-size:25px;
   font-weight: bold;
   color:white;
   display:inline-block;
   padding-top:30px;
}
.contact li{
   font-size:25px;
   font-weight: bold;
   color:white;
   text-align: center;
   display:inline-block;
}
